<% layout("./boilerplate/boilerplate.ejs") %>
<h1>Edit Your Listing</h1>
<form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title:</label>
    <input
      type="text"
      name="listing[title]"
      placeholder="Enter Your Listing Title"
      id="title"
      value="<%= listing.title %>"
    />
  </div>
  <br />
  <div>
    <label for="description">Description:</label>
    <textarea
      name="listing[description]"
      placeholder="Enter Your Description Here"
      rows="5"
      cols="20"
      id="description"
    >
<%= listing.description %></textarea
    >
  </div>
  <br />
  <div>
    <label for="image">Image URL:</label
    ><input
      type="text"
      name="listing[image]"
      value="<%= listing.image %>"
      placeholder="Your Image URL"
      id="image"
    />
  </div>
  <br />

  <div>
    <label for="price">Price:</label>
    <input
      type="number"
      name="listing[price]"
      value="<%= listing.price %>"
      placeholder="Enter Your listing Price Here (e.g. 26000)"
      id="price"
    />
  </div>
  <br />
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="listing[location]"
      value="<%= listing.location %>"
      placeholder="Enter Your location"
      id="location"
    />
  </div>
  <br />
  <div>
    <label for="country">Country:</label>
    <input
      type="text"
      name="listing[country]"
      value="<%= listing.country %>"
      placeholder="Enter Your Country here"
      id="country"
    />
  </div>
  <button>Submit</button>
</form>
