<% layout("./boilerplate/boilerplate.ejs") %>

<div class="show-listing">
  <h3 class="listing-title"><%= listing.title %></h3>
  <p class="listing-location">
    <%= listing.location %>, <%= listing.country %>
  </p>

  <div class="listing-img">
    <img src="<%= listing.image %>" alt="<%= listing.title %>" />
  </div>
  <p class="listing-description"><%= listing.description %></p>
  <hr />
  <div class="row">
    <p class="listing-price">
      <b>&#8377;<%= listing.price.toLocaleString("en-IN") %>/night</b>
    </p>
    <div class="left-side">
      <a href="/listings/<%= listing._id %>/edit" class="edit-btn"
        ><button>Edit</button></a
      >
      <br /><br />
      <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="delete-btn" style="background-color: red">Delete</button>
      </form>
    </div>
  </div>
</div>
